@import "tailwindcss";
/*@import "tw-animate-css";*/
@import 'lightgallery/css/lightgallery.css';

@theme {
  --color-wenge: #695151;
  --color-fawn: #E4AD78;
  --color-rose-gold: #B87474;
  --color-moonstone-blue: #7DB5C4;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    font-weight: 800;
    font-size:5rem;
    /*font-style: italic;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden; */
  }

  :root {
    --background: var(--color-gray-200);
  }

  body {
    font-family: var(--font-sans-serif);
    background-color: var(--color-gray-50);
    /* #f5f5f5; */
    color: var(--color-wenge);
  }

  .article-content, article {
    h1 {
      /* font-family: var(--font-sans-serif); */
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);

      @variant md {
        font-size: var(--text-5xl);
        line-height: var(--text-5xl--line-height);
      }
    }

    h2 {
      margin-bottom: --spacing(1);
      font-size: var(--text-xl);

      @variant md {
        font-size: var(--text-2xl);
      }
    }

    p {
      font-size: var(--text-base);

      @variant md {
        font-size: var(--text-lg);
      }
    }

    p+h2 {
      margin-top: --spacing(8);
    }
  }

  /* @media screen and (min-width: theme(--breakpoint-md)) {
    .article-content p {
      font-size: var(--text-lg);
      color: red;
    }
  } */
}

/*
  custom styling for the rendered RichText output.
  it's easier this way because otherwise we would have to
  override (and reimplement) most of the RichText converters (like p, blockquote, ... etc).

  see:
  - https://tailwindcss.com/docs/styling-with-utility-classes#using-custom-css
  - https://github.com/payloadcms/payload/blob/main/packages/richtext-lexical/src/features/converters/lexicalToJSX/converter/defaultConverters.ts
*/
@layer components {
}
