@import "tailwindcss";

@layer base {
  /* h1, h2, h3, h4, h5 {
    color: var(--color-gray-800);
  } */

  h1 {
    font-size: var(--text-4xl);
    font-family: var(--font-serif);
  }

  h2 {
    font-size: var(--text-2xl);
    font-family: var(--font-serif);
  }

  h3 {
    font-size: var(--text-xl);
    font-family: var(--font-serif);
  }

  :root {
    --background: var(--color-gray-200);
  }
}

@layer base {
  body {
    background-color: var(--color-gray-50);  /* #f5f5f5; */
    color: var(--color-gray-600);
  }
}

/*
  custom styling for the rendered RichText output.
  it's easier this way because otherwise we would have to
  override (and reimplement) most of the RichText converters (like p, blockquote, ... etc).

  see:
  - https://tailwindcss.com/docs/styling-with-utility-classes#using-custom-css
  - https://github.com/payloadcms/payload/blob/main/packages/richtext-lexical/src/features/converters/lexicalToJSX/converter/defaultConverters.ts
*/
@layer components {
  .article-content {
    h2 { margin-bottom: --spacing(0.5) }
  }
}
